body {
	background: url(images/towel.jpg);
	background-size: 500px;
	padding: 0% !important;
	margin:0 !important;
}

.main{
	padding: 0% !important;
		margin:0 !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}


.button{
	width: 50%;
}

.tab{
	margin-left: 40px;
}


.text-box{
	align-content: center;
	background: url(images/sheet.jpg);
	max width: 100px;
	color: #0098C6;
	padding: 2%;
	margin: 0 auto;
}

.text-box2{
	font-family:'Gruppo', serif;
	font-size: 1rem;
	align-content: center;
	background: url(images/dirtylaundry/moneywash2.png);

	color: #0098C6;
	padding: 2%;
	margin: 0 auto;
}

.button{
	width: 50%;
}

.nav{
  background: url(https://media.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif);
  min-width: 250px;
  flex: 1;
}

.banner-image {
	position: relative;
	left: 50px;
	width: 30%;
	height: 40%;
	background-size: cover;
	background-position: 50% 50%;

}
.title {
	position: relative;
	top: 30%;
	right: 0;
	width: 40%;
	padding: 2rem 0 0 2rem;
	text-align: right;
}

p {
  color: black !important;
  font-family:'B612 Mono', serif !important;
  font-size: 19px;

}

h1 {
  color: black !important;
  font-family:'Michroma', serif !important;
  font-size: 32px !important;
}
  
h2 {
  color: black !important;
  font-family:'Krona One', serif !important;
  font-size: 24px !important;
}

h3 {
  color: white !important;
  font-family:'B612 Mono' !important;
  font-size: 32px !important;
}


/* unvisited link */
a:link {
  color: blue !important;
}

/* visited link */
a:visited {
  color: blue !important;
}

/* mouse over link */
a:hover {
  color: white !important;
}

/* selected link */
a:active {
  color: red !important;
}


#go{
  background: url(https://media.giphy.com/media/3ohhwutQL0CDTq3kKA/giphy.gif);
}

.picCont:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.text {
  color: yellow;
  font-family:'Gruppo' !important;
  font-weight:normal;
  font-size: 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}


.cd-slider {

	position: relative;
	width: 100%;
	height: 30rem;
	/*overflow: hidden;*/
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(https://media.giphy.com/media/3oEdvaxmd15YTHy6Uo/giphy.gif);
	background-position: 0% 35%; 
    color: white;
    text-align: center;
	flex: 1;
}


.vertical-center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}



@media screen and (max-width: 900px ) {

	.image { width: 100%; position: relative;}
	.button{ width: 90%;}
	.contact{width: 102%;}
	.merchbutt{width: 100%;}
	nav { position: absolute; height: 40%; left: auto; right: auto; }
}

/* On phone screens, make these changes to size*/
@media screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.text {font-size: 10px}
	.image { width: 80%;}
	.merchbutt{width:90%;}
	.button{ width:70%; height: 70%;}
	.collage{width=100%;}
	nav { position:absolute; height: 40%; left: auto; right: auto; }
	footer{ position: relative; right: auto; }
}