
body
{
    background: url(images/merch/red-silk.jpg);
    background-size: 350px;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
}


.container-fluid{
  padding-left: 10% !important;
  padding-right: 10% !important;
}


.main{
	padding-left: 0% !important;
	padding-right: 0% !important;
	padding-bottom: 10%;
	padding-top: 3%;
  margin: 0px !important;
}

.banner{
  position: relative;
  height: 100%;
  width: 100%;
  border:none;
   background-color:transperant;
   outline:none;
      display: block;
 -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}


.banner:hover{
  margin:0;
 outline:5px solid #FC0;
 border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}


.col-12 {
	width: 50%;
	margin-bottom: 5%;
	padding-left: 0% !important;
	padding-right: 0% !important;
	display: inline-block;
	
}

.col-sm-6{
	width: 90%;
	margin-bottom: 4%;
	padding-left: 0% !important;
	padding-right: 0% !important;
	display: inline-block;
	min-height: calc(100vh - 100px);
	
}

.col-md-4{
	width: 80%;
	margin-bottom: 5%;
	padding-left: 0% !important;
	padding-right: 0% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	display: inline-block;
}



.picCont:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#go{
  background: url(images/merch/falling-petals.gif);
}

.sold{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: url(images/soldoverlay2.gif);
  background-position: left;
  z-index:2;
}


.nav{
  background: url(https://media.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif);
  min-width: 250px;
  flex: 1;
}


h1{
  position: relative;
  font-family:'Gruppo', sans-serif !important;
  size: 15px;
  margin-bottom: 8rem;
}

h6{
  font-family: Helvetica, san-serif !important;
	font-weight:50 !important;
	font-style:italic;
	font-size: 18px !important;
	text-align: justify;
	color: white !important;
}

.text {
  color: yellow;
  font-family:'Gruppo', serif !important;
  font-weight:normal;
  font-size: 20px;
  position: absolute;
  top: 50% ;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
	position: relative;
	left: 50px;
	width: 30%;
	height: 40%;
	background-size: cover;
	background-position: 50% 50%;
}

.title {
	position: relative;
	top: 30%;
	right: 0;
	width: 40%;
	padding: 2rem 0 0 2rem;
	text-align: right;
}


footer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   /* background: url(https://media.giphy.com/media/3oEdvaxmd15YTHy6Uo/giphy.gif); */
	background-position: 0% 35%; 
    color: white;
    text-align: right;
	flex: 1;
	z-index: 3;
}

.popup-btn{
    position: fixed;
    right: 0;
    bottom: 50%;
    width: 100px;
  padding: 1%;
  	z-index: 4;
  transform-origin: 60% 0%;
  -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.previewPic{
	width:90%;
 padding: 0%;
}




@media screen and (max-width: 900px ) {

	.title { width:60%; padding-right: 6rem; }
	.image { width: 40%; position: relative; left: 10px;}
	.previewPic{ width:90%;}
}

/* On phone screens, make these changes to size*/
@media screen and ( max-width: 575px ) {

	.previewPic{width:90%}
	.text {font-size: 20px}
	.image { width: 50%; left: 10px;}
	.title { width:80%; padding-right: 5rem; top:15%}

	nav { position: relative; width: 40%;left: 0; right: auto; }
	footer{ position: relative; right: auto; }
}


